;
; Netatalk 3.x configuration file
;
;[Global]
;
;log file = /var/log/netatalk.log
;mimic model = Xserve
;
;[Homes]
;    basedir regex = /home
;
;
; [My AFP Volume]
; path = /path/to/volume
;
;
;[My Time Machine Volume]
;    path = /export/timemachine
;    time machine = yes
